
@{
    ViewBag.Title = "GiamSat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h2>DỮ LIỆU</h2>
</div>
<div class="container">
    @Html.CheckBox("isActive", true)
    <label>Tự động cập nhập dữ liệu</label>
    <div id="data">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Cảm Biến</th>
                    <th>Giá Trị Cảm Biến</th>
                    <th>Thời Gian</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.TEN_CB</td>
                        <td>@item.GIA_TRI_CB</td>
                        <td>@item.THOI_GIAN</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.TEN_CB</td>
                        <td>@item.GIA_TRI_CB</td>
                        <td>@item.THOI_GIAN</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.TEN_CB</td>
                        <td>@item.GIA_TRI_CB</td>
                        <td>@item.THOI_GIAN</td>
                    </tr>
                }
        </table>
    </div>
</div>

@section scripts{
    <script>
        var tableDatas;
        $(document).ready(function () {
            $("#4").addClass("active");

            tableDatas = $('#example').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json'
                },
                "order": []
            });
        });

        function reloadData() {
            var checkedUpdate = $('#isActive:checked').length > 0;
            if (checkedUpdate) {
                console.log("cec")
                let kq = "";
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllData")',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        data.forEach((item, index) => {
                            kq += "<tr><td>" +
                                item["ID"] +
                                "</td><td>" +
                                item["TEN_CB"] +
                                "</td ><td>" +
                                item["GIA_TRI_CB"] +
                                "</td ><td>" +
                                item["THOI_GIAN"] +
                                "</td ></tr>";
                        });
                        tableDatas.destroy();
                        $("tbody").html(kq);
                        tableDatas = $('#example').DataTable({
                            language: {
                                url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json'
                            },
                            "order": []
                        });
                    },
                    error: function () {
                        alert("Error while reload data");
                    }
                });
            }
            else {console.log("asd")}
        }

        setInterval(reloadData, 3000);

    </script>
}


